.profile-photo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 200px;
        border-radius: 100%;
    }
}

.register-form-address-message{
    color: lightgray;
}