@import 'auth';
@import 'userProfile';
@import 'nav';
@import 'cardIndex';
@import 'createcard';


$main-shadow:  0px 3px 15px rgba(0,0,0,0.2);

body{
    font-family: 'Quicksand', sans-serif;
}
//*Home Page

.home-logo-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.forms{
    margin-top: 50px;
}

.form-submit-button{
    width: 100%;
    margin-top: 20px;
}

