@import 'auth';

body{
    font-family: 'Quicksand', sans-serif;
}

//*Nav

.black-text{
    color: black;
}

.nav-logo{
    width: 10%;
    margin-top:10px;
}

.nav-item:hover{
    background-color: transparent;
    border-radius: 20px;
    color: white
}

.nav-item-link:hover{
    background-color: transparent;
    border-radius: 20px;
    color: white;
}


//*Home Page

.home-logo-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.forms{
    margin-top: 50px;
}

.form-submit-button{
    width: 100%;
    margin-top: 20px;
}

