
.loading-spinner-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-profile-page-container{
    margin:25px;
}

.user-container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: 70vh;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 25px;
}

.user-details-container{
    display: flex;
    h3{
        margin: 0 0 30px 0;
        align-self: center;
    }
   
}

.user-sub-details{
    align-self: start;
    p{
        margin: 5px;
        
    }
}


.user-profile-photo{
margin: 10px;
max-width: 30%;
padding:20px;
border-radius: 50%;
align-self: center;
}